.small-text {
    font-size: 0.7rem;
}

.footer-bar {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.footer-bar p {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin: 0;
    padding: 0 20px; 
}
 body {
    background-color: #dad1d1; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(245, 1, 1, 0.1);  
}